# to be put in /usr/share/applications/spotify.desktop
# or /snap/spotify/current/usr/share/spotify/spotify.desktop
# or /var/lib/snapd/desktop/applications/spotify_spotify.desktop
[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=spotify-client
TryExec=spotify
Exec=spotify --force-device-scale-factor=2.0 %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
